<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bijou Boutique</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <nav>
      <ul>
        <li><a href="/products">Nuestros productos</a></li>
        <li>
          <a href="/products/productCard">Product Card (Solo nosotros)</a>
        </li>
        <li><a href="/products/create">Product Create (Solo nosotros)</a></li>
        <li><a href="/aboutUs">Acerca de nosotros</a></li>
        <li><a href="/maps">Nuestras sucursales</a></li>
        <li><a href="/contactUs">Contactanos</a></li>
      </ul>
    </nav>
    <main>
      <section class="main-section">
        <img src="/images/joyas.jpg" alt="Imagen grande" />
        <div class="image-info">
          <p>
            Mira todo nuestro catalogo
            <a href="/products" class="read-more-link">aqui</a>
          </p>
        </div>
      </section>
      <h2 class="ultimas-novedades">Últimas Novedades</h2>
      <section class="news-section">
        <article class="news-item">
          <img src="/images/novedades1.png" alt="Novedad 1" />
          <h3>¿Te gustaria conocer sobre nuestra historia?</h3>
          <p>
            ¡Aqui encontraras el como nacio Bijou Boutique y todo su recorrido!
          </p>
          <a href="/aboutUs">Leer más</a>
        </article>
        <article class="news-item">
          <img src="/images/novedades2.png" alt="Novedad 2" />
          <h3>¿Queres ser parte de Bijou Boutique?</h3>
          <p>
            ¡Contactanos y podras quedar seleccionado para ser parte de nuestro
            equipo!
          </p>
          <a href="/contactUs">Leer más</a>
        </article>
      </section>
      <section class="item-especial">
        <div class="flexible">
          <div class="itemFlex1">
            <img src="/images/reloj.jpg" alt="imgFlex" />
          </div>
          <div class="itemFlex2">
            <h1>Modelo iconico</h1>
            <h2>Alpine Eagle</h2>
            <div class="separator"></div>
            <p>
              Descubre la sofisticación en cada momento con nuestro reloj
              elegante. Con un diseño moderno y funcionalidades avanzadas, este
              reloj es la elección perfecta para ocasiones especiales y tu día a
              día. Conoce la combinación única de estilo y precisión que te
              ofrece este exclusivo reloj de Bijou Boutique.
            </p>
          </div>
        </div>
      </section>
      <section class="products-section">
        <h2>Productos Destacados</h2>
        <div class="product-container">
          <% for (let i = 0; i < 4; i++) { %> <% const product = products[i]; %>
          <div class="product">
            <img
              src="/images/<%= product.image %>"
              alt="Producto <%= i + 1 %>"
            />
            <h3 class="product-name"><%= product.name %></h3>
            <p class="product-description"><%= product.description %></p>
            <a href="/products/<%= product.id %>">Ver Detalles</a>
          </div>
          <%}%>
        </div>
      </section>
    </main>
    <%- include("partials/footer.ejs") %>
    <a
      href="https://wa.me/message/2JHVL5B5NH2UD1"
      target="_blank"
      class="whatsapp-icon"
    >
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </body>
</html>
