<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Usuario</title>
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>
    <%- include("partials/header.ejs", { user: user }) %>
    <div class="container">
      <div class="left-box">
        <img
          src="<%= user.image %>"
          alt="Imagen de perfil"
          class="profile-image"
        />
      </div>
      <div class="right-box">
        <p>Nombre: <%= user.name %></p>
        <p>Apellido: <%= user.surname %></p>
        <p>E-mail: <%= user.email %></p>
        <a href="/updatePass" class="change-password">Cambiar contraseña</a>
        <div class="buttons">
          <button onclick="location.href='/'">Inicio</button>
          <button onclick="location.href='/logout'">Cerrar sesión</button>
          <button onclick="location.href='/profile/edit'">Editar perfil</button>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
