<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Bijou Boutique</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %> <% if (errors) { %> <% for (let
    oneError in errors) { %> <% } %> <% } %>
    <main class="container-register">
      <div class="form">
        <form action="/register" method="POST" enctype="multipart/form-data">
          <h2 class="title">Registrar usuario</h2>
          <input
            class="controls"
            id="name"
            name="name"
            type="text"
            placeholder="Nombre"
          />
          <% if (errors && errors.name) { %>
          <div class="text-danger"><%= errors.name.msg %></div>
          <% } %>
          <input
            class="controls"
            id="surname"
            name="surname"
            type="text"
            placeholder="Apellido"
          />
          <% if (errors && errors.surname) { %>
          <div class="text-danger"><%= errors.surname.msg %></div>
          <% } %>
          <input
            class="controls"
            id="pass"
            name="password"
            type="password"
            placeholder="Contraseña"
          />
          <% if (errors && errors.password) { %>
          <div class="text-danger"><%= errors.password.msg %></div>
          <% } %>
          <input
            class="controls"
            id="mail"
            name="email"
            type="email"
            placeholder="E-mail"
          />
          <% if (errors && errors.email) { %>
          <div class="text-danger"><%= errors.email.msg %></div>
          <% } %>
          <br />
          <input type="file" name="image" />
          <input class="submit" type="submit" />
          <input
            class="submit reset"
            type="reset"
            onclick="alert('Datos reestablecidos')"
          />
        </form>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
